body{
    font-family: 'Spectral SC', serif;
    margin: 0;
    background: linear-gradient(to right, #00A8A8, #0C6980);
    color: #C4DBE0;
}
/* navigation */
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo li{
    list-style-type: none;
}
.container{
    display: flex;
    flex-direction: column;
}
header{
    height: 100px;
    box-shadow: 5px 5px 5px gray;
    background-color: #0C6980;
    
    border-bottom: 1px solid gray;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none; 
}
ul li{
    padding: 5px;
    font-size: 20px;
    width: 110px;
    text-align: center;
}

.drop-down{
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
    background: #0C6980;
    display: none;
    padding: 0;
    border: 1px solid black;
}

ul.drop-down li{
    border-bottom: 1px solid black;
    width: 100%;
    background: #0C6980;
    margin: 0;
}
.drop-down-mother:hover .drop-down{
    display: block;   
}
/* some configs for mobile view */

ul li a{
    
    text-decoration: none;
    color: #C4DBE0;
}
/*main page*/
.landing-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: url('landing.jpg') no-repeat;
    
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
}
.landing-image-text{
    font-family: 'Spectral SC', serif;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 150px;
    color: rgb(73, 69, 71);    
}
.buttons{
    font-family: 'Spectral SC', serif;
    color: #C4DBE0;
    background: #0C6980;
    border: 1px solid black;
    animation-name: focus;
    animation-delay: 0s;
    animation-direction: forward;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;    
    padding: 10px;
    border-radius: 3px;
}
@keyframes focus{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1.0;
    }
}

.buttons:hover{
    color: black;
    background: -o-linear-gradient(#00A8A8, #0C6980);
    background: linear-gradient(to right, #00A8A8, #0C6980);
}
/*skills section*/
.skills-section{
    background: -o-linear-gradient(#00A8A8, #0C6980); /* For Opera 11.1 to 12.0 */
  
    background: linear-gradient(to right, #00A8A8, #0C6980); /* Standard syntax */
    color: #C4DBE0;
}
.skills-section h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mother-box{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 75%;
}
.inner-box{
    
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 10px;
    height: 300px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 3px 3px 3px gray;
}
.inner-box i{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inner-box p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.inner-box h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* courses section */
.courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.cards{
    box-shadow: 4px 4px 4px rgb(51, 50, 50);
    background: linear-gradient(to right, #0C6980,#00A8A8);
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px;
    min-width: 100px;
    padding: 5px;
    border: 1px solid #2f7a78;
    transition: transform 300ms ease-in-out;   
}
.cards:hover{
    transform: scale(1.2,1.2);
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.card-image{
    background: url('html.png') no-repeat;
    box-shadow: 3px 3px 3px gray;
    background-size: cover;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}
.card-image-1{
    background: url('html.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}
.card-image-2{
    background: url('html.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}
.card-image-3{
    background: url('html.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}
/* ABOUT SECTION */
.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    box-sizing: border-box;
    
}
.about-image{
    height: 300px;
    width: 700px;
    background: url('laravel.png') no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 4px rgb(41, 39, 39);
}
/*About*/
.wcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    color: #C4DBE0;
}

.title {
    color: #C4DBE0;
    font-size: 18px;
}

.button-black{
    box-sizing: border-box;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #10313e;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
/* CONTACT */
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-top: 1px solid gray;
    padding: 5px;
    justify-content: center;
}
.burger-nav{
    display: none;
}
/* flex styles*/
@media screen and (max-width: 800px){
    header{
        height: auto;
    }
    header ul{
        
        display: flex;     
        flex-direction: column;
    }
    header ul li{
        width: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        text-align: center;
    }
    .mother-box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .inner-box{
        
        width: 70%;
        padding: 3px;
        margin: 0 auto;
    }
    .burger-nav{
        display: block;
        height: 40px; 
        width: 100%;
        background-color: #0C6980;
        cursor: pointer;
    }
    .burger-nav i{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }
    .top-menu-bar ul.open{
        height: auto;
        animation-name: openup;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes openup{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1.0;
        }
    }
    .top-menu-bar ul{
        overflow: hidden;
        height: 0;
    }
}